<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }} | [adjective][species]</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="icon" type="image/png" href="/images/as-ico.png" />
        {% if page.additionalHeader %}{{ page.additionalHeader }}{% endif %}
    </head>
    <body>
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="http://adjectivespecies.com">[adjective][species]</a>
                    <ul class="nav">
                        <li><a href="https://lovesexfur.com">Love ◦ Sex ◦ Fur</a></li>
                        <li><a href="https://vis.adjectivespecies.com">Visualizations</a></li>
                        <li><a href="https://presentations.adjectivespecies.com">Presentations</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <header>
            <a href="{{ site.baseurl }}/"><img src="/images/as-header.png" /></a>
        </header>
        <article>
        <section>
            <ul class="nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/contributing" class="nav-link">Contributing</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            </ul>
        </section>
        <section>
            <h1>{{page.title}}</h1>
            <div class="alert alert-message alert-error" role="alert">
                [adjective][species] is no longer in operation. If you are looking for great furry content, check out our friends over at <a href="https://www.youtube.com/channel/UCTLM2s914zA_O2S6II_BCWw">Culturally F'd</a>. This site is left up as an archive and curiosity only.
            </div>
                {{ content }}
        </section>
        </article>
        <footer>
            Content &copy; [adjective][species], 2011 - 2019 under the CC BY-NC-SA (Attribution - NonCommercial - ShareAlike) license<br />
        </footer>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.makyo.io/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


    </body>
</html>
